<body>
    <main>
      <section class="title-block">
        <h1>My To-do List</h1>
        <%= form_with(url: "/todos", method: "post", class: "add-todo-form") do%>
          <input type="text" placeholder="What's next?" name="todo_text" />
          <input type="date" name = "due_date">
            <i class="fas fa-calendar-week cal-icon"></i>
          </input>
          <button type="submit">Add</button>
        <% end %>
      </section>
      <%= render partial: "todo-section", locals: {
        title: "Overdue",
        todos: Todo.overdue
      }%>
      <%= render partial: "todo-section", locals: {
        title: "Due Today",
        todos: Todo.due_today
      }%>
      <%= render partial: "todo-section", locals: {
        title: "Due Later",
        todos: Todo.due_later
      }%>
    </main>
  </body>
