* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px;
}

h1,
h2,
h3,
p {
  color: #453c52;
}
h1 {
  font-size: 48px;
  line-height: 2;
}

h2 {
  font-size: 34px;
  line-height: 2;
}

h3 {
  font-size: 24px;
}

label {
  font-size: 24px;
  display: flex;
  line-height: 2;
  padding: 0 20px;
  max-width: 500px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.todo_wrapper {
  font-size: 24px;
  display: flex;
  line-height: 2;
  padding: 0 20px;
  max-width: 500px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
input {
  border-radius: 6px;
  border: 1px solid #bfb8cc;
  padding: 8px 16px;
  outline: none;
}

.add-todo-form input:nth-child(1) {
  width: 30%;
}
.add-todo-form input:nth-child(2) {
  width: 20%;
}

.add-todo-form button {
  background: #48bb78;
  border-radius: 4px;
  padding: 7px 17px;
  color: white;
  border: 1px solid #48bb78;
  cursor: pointer;
  outline: none;
}

main {
  width: 70%;
  margin: 6vh 30%;
}

section {
  margin: 20px 0;
}

.overdue {
  font-size: 14px;
  color: #c53030;
  margin-top: 4px;
}

.due form {
  margin-left: 30px;
}

.cal-icon {
  font-size: 18px;
  color: #bfb8cc !important;
  cursor: pointer;
  margin-left: -30px;
  margin-right: 12px;
}

.date {
  color: #726a7e;
}
span {
  margin-left: 10px;
}

.highlight {
  background-color: #f1edf7;
  border-radius: 5px;
}
/*
.todo_wrapper span {
  margin-left: 20px;
}
.todo_wrapper > div {
  display: inline !important;
} */

.todo-due-date {
  font-size: 18px;
  color: black;
}

.todo-text {
  margin: 0 10%;
  font-size: 18px;
}

.striked {
  text-decoration: line-through;
}

.delete-icon {
  display: none;
}

.todo_wrapper:hover {
  background-color: #cfcada;
}

.todo_wrapper:hover .delete-icon {
  display: inline-flex;
  z-index: 10;
  color: #453c52 !important;
}

/* .overdue_section {
  display: flex;
} */

.todo-error {
  background-color: rgba(255, 0, 0, 0.521);
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: 3px solid maroon;
  margin: 10px;
}
